body{
    background-image: url(../img/metro.jpg);
    background-size:cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;

}

*{
    cursor: url("../img/cursor.png") , auto;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 10px;

}

button{
    border: none;
    border-radius: 6px;
    padding-top: 10px ;
    color: #ffffff;
    background-color: rgb(101, 0, 0);
    font-size: 20px;
    font-weight: 200px;
    padding: 10px 45px;
    transition: 0.3s ease-out;
    
}

button:hover{
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

#save-btn{
    border: none;
    border-radius: 6px;
    padding-top: 10px ;
    color: #ffffff;
    background-color: rgb(0, 101, 10);
    font-size: 20px;
    font-weight: 200px;
    padding: 10px 45px;
    transition: 0.3s ease-out;
    
}

#save-btn:hover{
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
}